<form fsForm [submit]="save" *ngIf="invoice">
  <fs-dialog>
    <fs-dialog-title mat-dialog-title>Invoice #{{ invoice.id }}</fs-dialog-title>
    <mat-dialog-content>
      <div fxLayout="column" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="invoice.name" name="name" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Amount</mat-label>
          <input matInput [(ngModel)]="invoice.amount" name="amount">
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <fs-form-dialog-actions>
      </fs-form-dialog-actions>
    </mat-dialog-actions>
  </fs-dialog>
</form>
