
<form (fsForm)="save()">
  <fs-dialog [mobileMode]="mobileMode" [mode]="'full'">
    <h1 mat-dialog-title>Dialog</h1>
    <mat-dialog-content>
      <div class="text">
        <p *ngFor="let input of inputs">{{input}}</p>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button color="primary">{{ object.id ? 'Save' : 'Create' }}</button>
      <button mat-button (click)="addText()" type="button">Add Text</button>
      <button mat-button (click)="removeText()" type="button">Remove Text</button>
      <button mat-button mat-dialog-close (click)="close()">Cancel</button>
    </mat-dialog-actions>
  </fs-dialog>
</form>
