
<form (fsForm)="save()">
  <fs-dialog>
    <h1 mat-dialog-title>Dialog Title</h1>
    <mat-dialog-content>
      <div fxLayout="column">
        <mat-form-field>
          <textarea
            placeholder="Input"
            [(ngModel)]="input"
            name="input"
            matInput
            cdkTextareaAutosize
            [fsFormRequired]="true">
          </textarea>
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button color="primary">{{ object.id ? 'Save' : 'Create' }}</button>
      <button mat-button (click)="addText()" type="button">Add Text</button>
      <button mat-button mat-dialog-close (click)="close()">Cancel</button>
    </mat-dialog-actions>
  </fs-dialog>
</form>
