<div class="fs-row.gap-sm" fs.lt-sm="fs-column.align-start">
  <button
      mat-raised-button 
      color="primary" 
      (click)="open('bottom')">
    Open Bottom Dialog
  </button>

  <button
      mat-raised-button 
      color="primary" 
      (click)="open('full')">
    Open Full Dialog
  </button>

  <button
      mat-raised-button 
      color="primary" 
      (click)="open('float')">
    Open Float Dialog
  </button>

  <button
      mat-raised-button 
      color="primary" 
      (click)="open('peek')">
    Open Peek Dialog
  </button>
</div>  