<h2>Prompt</h2>
<button mat-raised-button (click)="showConfirm()">Open Confirm Dialog</button>
<p>
    <ng-container *ngIf="confirmValue">Selected: {{confirmValue}}</ng-container>
</p>

<h2>Input Prompt</h2>
<button mat-raised-button (click)="openInput()">Open Input Dialog</button>
<p>
    <ng-container *ngIf="inputValue !== false">Typed value: {{inputValue}}</ng-container>
</p>
  
<h2>Select Prompt</h2>
<p>
  Select and Autocomplete dialogs can use as values Array, Promise, Observable or Fn which return one of the first three
</p>

<button mat-raised-button (click)="openSelect()">Open Select</button>
<p>
    <ng-container *ngIf="selectValue !== false">Selected: {{selectValue}}</ng-container>
</p>

<h2>Autocomplete Prompt</h2>
<button mat-raised-button (click)="openAutocomplete()">Open Autocomplete</button>
<p>
    <ng-container *ngIf="selectAutoValue !== false">Selected: {{selectAutoValue}}</ng-container>
</p>
