<div class="dialog-title">
  @if (titleTemplate) {
    <ng-container
      [ngTemplateOutlet]="titleTemplate"
      [ngTemplateOutletContext]="{ 
        backTemplate,
        titlesTemplate,
        actionsTemplate
       }">
    </ng-container>
  } @else {
    <ng-container *ngTemplateOutlet="backTemplate"></ng-container>
    <div class="title-container">
      <ng-container *ngTemplateOutlet="titlesTemplate"></ng-container>
    </div>
    <ng-container *ngTemplateOutlet="actionsTemplate"></ng-container>
  }
</div>
<ng-template #backTemplate>
  @if (back) {
    <div>
      <a
          class="back"
          mat-icon-button
          mat-dialog-close>
        <mat-icon>
          arrow_back_ios_new
        </mat-icon>
      </a>
    </div>
  }
</ng-template>
<ng-template #titlesTemplate>
  <div class="title">
    <ng-container *ngIf="supertitleTemplate">
      <div class="supertitle">
        <ng-container [ngTemplateOutlet]="supertitleTemplate"></ng-container>
      </div>
    </ng-container>
    <div class="mat-mdc-dialog-title">
      <ng-content></ng-content>
    </div>
    <ng-container *ngIf="subtitleTemplate">
      <div class="subtitle">
        <ng-container [ngTemplateOutlet]="subtitleTemplate"></ng-container>
      </div>
    </ng-container>
  </div>
</ng-template>
<ng-template #actionsTemplate>
  <div class="actions">
    <ng-container *ngIf="close">
      <div class="close">
        <a
            [tabIndex]="-1"
            mat-icon-button
            mat-dialog-close>
          <mat-icon>
            close
          </mat-icon>
        </a>
      </div>
    </ng-container>
  </div>
</ng-template>