:host {
  padding: var(--mat-dialog-headline-padding, 0 24px 9px);
  display: block; 

  ::ng-deep {
    .mat-mdc-dialog-title {
      padding: 0;
      
      &::before {
        display: none;
      }
    }
  }
}

.dialog-title {
  display: flex;
  align-items: center;
  padding-top: 15px;

  .title-container {
    flex: 1;
  }

  .title {
    line-height: normal;

    .subtitle {
      font-size: 80%;
    } 

    .supertitle {
      font-size: 80%;
      color: #818181;
    }  
  }

  .actions {
    display: flex;
    align-items: center;
  }     

  .back {
    margin-right: 3px;
    mat-icon {
      transform: scale(.9);
      display: flex;
    }
  }
}