<div class="dialog-title">
  @if (titleTemplate) {
    <ng-container
      [ngTemplateOutlet]="titleTemplate"
      [ngTemplateOutletContext]="{ 
        backTemplate,
        titlesTemplate,
        actionsTemplate
       }">
    </ng-container>
  } @else {
    <ng-container *ngTemplateOutlet="backTemplate"></ng-container>
    <div class="title-container">
      <ng-container *ngTemplateOutlet="titlesTemplate"></ng-container>
    </div>
    <ng-container *ngTemplateOutlet="actionsTemplate"></ng-container>
  }
</div>
<ng-template #backTemplate>
  @if (back) {
    <a
        class="back"
        mat-icon-button
        mat-dialog-close>
      <mat-icon>
        arrow_back_ios_new
      </mat-icon>
    </a>
  }
</ng-template>
<ng-template #titlesTemplate>
  <div class="title">
    <ng-container *ngIf="supertitleTemplate">
      <div class="supertitle">
        <ng-container [ngTemplateOutlet]="supertitleTemplate"></ng-container>
      </div>
    </ng-container>
    <div class="mat-mdc-dialog-title">
      <ng-content></ng-content>
    </div>
    <ng-container *ngIf="subtitleTemplate">
      <div class="subtitle">
        <ng-container [ngTemplateOutlet]="subtitleTemplate"></ng-container>
      </div>
    </ng-container>
  </div>
</ng-template>
<ng-template #actionsTemplate>
  <div class="actions">
    <!-- <ng-container *ngIf="dialog.dockable && dockToggle">
      <div>
        <button
            [tabIndex]="-1"
            mat-icon-button
            type="button"
            [fsMenuTriggerFor]="menu">
          <ng-container *ngIf="!dock">
            <mat-icon>
              crop_landscape
            </mat-icon>
          </ng-container>
          <ng-container *ngIf="dock === 'expanded'">
            <mat-icon>
              aspect_ratio
            </mat-icon>
          </ng-container>
          <ng-container *ngIf="dock === 'fullscreen'">
            <mat-icon>
              settings_overscan
            </mat-icon>
          </ng-container>
        </button>
        <fs-menu #menu>
          <ng-container *ngIf="dock">
            <ng-template
                fs-menu-item
                (click)="dialog.disableDock()">
              <mat-icon>
                crop_landscape
              </mat-icon>
              Contract
            </ng-template>
          </ng-container>
          <ng-container *ngIf="dock !== 'expanded'">
            <ng-template
                fs-menu-item
                (click)="dialog.enableExpandedDock()">
              <mat-icon>
                aspect_ratio
              </mat-icon>
              Expand
            </ng-template>
          </ng-container>
          <ng-container *ngIf="dock !== 'fullscreen'">
            <ng-template
                fs-menu-item
                (click)="dialog.enableFullscreenDock()">
              <mat-icon>
                settings_overscan
              </mat-icon>
              Fullscreen
            </ng-template>
          </ng-container>
        </fs-menu>
      </div>
    </ng-container> -->
    <ng-container *ngIf="close">
      <div class="close">
        <a
            [tabIndex]="-1"
            mat-icon-button
            mat-dialog-close>
          <mat-icon>
            close
          </mat-icon>
        </a>
      </div>
    </ng-container>
  </div>
</ng-template>