<div mat-dialog-title>
  <a 
      class="back"
      mat-icon-button
      mat-dialog-close>
    <mat-icon>arrow_back_ios_new</mat-icon>
  </a>
  <div class="title">
    <ng-content></ng-content>
    <ng-container *ngIf="subtitle">
      <div class="subtitle">
        <ng-container [ngTemplateOutlet]="subtitle"></ng-container>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="close">
    <div class="close">
      <a 
          mat-icon-button
          mat-dialog-close>
        <mat-icon>close</mat-icon>
      </a>
    </div>
  </ng-container>
</div>