@use '@firestitch/style/styles' as fs-style;

.cdk-overlay-pane {
  &.fs-dialog-fullscreen,
  &.fs-dialog-expanded {
    max-width: none !important;
    max-height: none !important;

    &.fs-dialog-fullscreen {
      width: 100% !important;
      height: 100% !important;

      .mat-mdc-dialog-container {
        border-radius: 0px;
      }
    }
    
    
    &.fs-dialog-expanded {
      @media (min-width: fs-style.$break-xsmall) {
        width: 95% !important;
      height: 95% !important;
      }
    }

    .mat-mdc-dialog-container > form {
      height: 100%;
    }

    fs-dialog {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .mat-dialog-content {
      max-height: none !important;
      flex: 1;
    }
  }

  &.fs-dialog-overlay-pane {
    
    &.fs-dialog-mode-full {
      .mat-mdc-dialog-container {
        border-top: calc(fs-style.$safe-area-top * .8) solid transparent;
      }
      
      .mat-mdc-dialog-content {
        max-height: none;
      }
    }

    &.fs-dialog-mode-full,
    &.fs-dialog-mode-peek,
    &.fs-dialog-mode-bottom {
      .mat-mdc-dialog-container {
        border-bottom: calc(fs-style.$safe-area-bottom * .8) solid transparent;
      }
    }

    &.fs-dialog-mode-full,
    &.fs-dialog-mode-peek,
    &.fs-dialog-mode-float,
    &.fs-dialog-mode-bottom {

      &:not(.fs-dialog-mode-float):not(.fs-dialog-mode-peek) {
        .mat-mdc-dialog-container {
          border-radius: 0;
        }
      }

      &:not(.fs-dialog-mode-float) {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute !important;
        max-width: none !important;
        width: auto !important;
        min-width: initial !important;

        fs-dialog {
          height: 100%;
          display: flex;
          flex-direction: column;

          .mat-dialog-content {
            max-height: initial;
          }
        }

        .mat-mdc-dialog-container {
          form {
            display: inline;
            min-height: 0;
          }
        }
      }

      &.fs-dialog-mode-bottom {
        top: initial;

        .mat-mdc-dialog-container {
          height: unset;
        }
      }
      
      &.fs-dialog-mode-peek {      
        padding-top: 25px;
      }

      &.fs-dialog-mode-full,
      &.fs-dialog-mode-peek {
        .mat-mdc-dialog-container {
          box-shadow: none;
        }
      }
    }

    &.fs-dialog-mode-full,
    &.fs-dialog-mode-peek,
    &.fs-dialog-mode-float,
    &.fs-dialog-mode-bottom,
    .button-layout-full {
      mat-dialog-actions {
        flex-direction: column;
        flex-wrap: nowrap;
        display: flex;
        flex: none;
        min-height: auto;

        button,
        .mat-button,
        .mat-raised-button,
        .mat-flat-button,
        .mat-stroked-button {
          width: 100%;
          margin: 0 0 4px 0;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .fs-dialog-overlay-pane {
    min-width: 400px;

    .mat-dialog-content {
      position: relative;
      z-index: 1;
      background: 
        linear-gradient(#ffffff 33%, rgba(255,255,255, 0)),
        linear-gradient(rgba(255,255,255, 0), #ffffff 66%) 0 100%,
        radial-gradient(farthest-side at 50% 0, rgba(34,34,34, 0.2), rgba(0,0,0,0)),
        radial-gradient(farthest-side at 50% 100%, rgba(34,34,34, 0.2), rgba(0,0,0,0)) 0 100%;
      background-color: #ffffff;
      background-repeat: no-repeat;
      background-attachment: local, local, scroll, scroll;
      background-size: 100% 19px, 100% 19px, 100% 7px, 100% 7px;
      /*
        iOS half pixel horizontal fix
      */
      border-bottom: 1px solid #fff;
    }
  }
}

.cdk-overlay-backdrop.fs-dialog-overlay-backdrop.fs-dialog-mode-full {
  background: white;
}

:root {
  --mat-dialog-with-actions-content-padding: 0 24px;
  --mat-dialog-actions-padding: 16px 24px;
}