
@media only screen and (max-width: 599px) {
  .cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane.fs-dialog-backdrop {

    &.fs-mobile-mode-bottom,
    &.fs-mobile-mode-full {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed !important;
      max-width: none !important;
      width: auto !important;
      min-width: initial !important;

      fs-dialog {
        height: 100%;
        display: flex;
        flex-direction: column;

        .mat-dialog-content {
          max-height: initial;
        }
      }

      .mat-dialog-container {
        border-radius: 0;

        form {
          display: inline;
        }
      }
    }

    &.fs-mobile-mode-bottom {
      top: initial;

      .mat-dialog-container {
        height: unset;
      }

      .mat-dialog-actions {
        flex-direction: column;
        flex-wrap: nowrap;
        display: flex;
        flex: none;

        button,
        .mat-button,
        .mat-raised-button,
        .mat-flat-button,
        .mat-stroked-button {
          width: 100%;
          margin: 0 0 4px 0;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane.fs-dialog-backdrop {
    .mat-dialog-container {
      min-width: 400px;
    }
  }
}