<fs-examples [config]="config">

  <fs-example name="Dialog" componentName="basic" componentNames="basic">
    <basic-example></basic-example>
  </fs-example>

  <fs-example name="Close Dialog" componentName="app-close-dialog" componentNames="close-dialog">
    <app-close-example></app-close-example>
  </fs-example>

  <fs-example name="Back Dialog" componentName="app-back-dialog" componentNames="back-dialog">
    <app-back-example></app-back-example>
  </fs-example>

  <fs-example name="Routable Dialogs" componentName="navigation" componentNames="navigation">
    <navigation></navigation>
  </fs-example>

</fs-examples>
