@use '@firestitch/style/styles' as fs-style;

:host {
  ::ng-deep {
    fs-dialog-title + .mat-mdc-dialog-content {
      padding-top: 0;
    }
  }
}

::ng-deep {
  fs-dialog {
    .mat-mdc-dialog-content {
      mat-dialog-actions .mat-button,
      mat-dialog-actions .mat-button + .mat-button {
        margin-left: 0;
        margin-right: 8px;
      }
    
      &.button-placement-bottom {
        .mat-dialog-content {
          flex: 1;
        }
      }
    }
  }
    

  @media (max-width: fs-style.$break-xsmall) {
    .fs-dialog-back.fs-dialog-mode-full {
      .close-button {
        display: none;
      }

      .mat-mdc-dialog-container {
        transform: none !important;
      }

      fs-dialog-title {
        .back {
          display: inline-block !important;

          .mat-button-wrapper {
            display: flex;
            justify-content: center;
            height: 100%;
            align-items: center;
          }
        }
      }
    }
  }
  
}