@use '@firestitch/style/styles' as fs-style;

::ng-deep {
  @media (max-width: fs-style.$break-xsmall) {
    .fs-dialog-back.fs-dialog-mode-full {
      .close-button {
        display: none;
      }

      .mat-dialog-container {
        transform: none !important;
      }

      fs-dialog-title {
        .back {
          display: inline-block !important;
        }

        .close {
          display: none !important;
        }
      }
    }
  }
  
}